@model List<ICFAIClone.Models.Enquiry>

<h2>Welcome, Admin!</h2>
<p>Here you can checkout the Enquiries made by the Students and solve their queries !</p>

<form asp-action="Logout" asp-controller="Admin" method="post" class="mb-4" style="display:revert-layer;">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

<form asp-action="Create" asp-controller="Student" method="post" class="mb-4" style="display:revert-layer;">
    <button type="submit" class="btn btn-danger">Create DataBase for Student</button>
</form>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enquiry in Model)
            {
                <tr>
                    <td>@enquiry.Name</td>
                    <td>@enquiry.Email</td>
                    <td>@enquiry.Phone</td>
                    <td>@enquiry.Address</td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <p>No enquiries found.</p>

}

